<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Serwis dla biura podróży</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>
<h1>BIURO PODRÓŻY MAD-TRAVEL</h1>
<h2>Z nami wyjedziesz na podróż życia!</h2>

<div class="banner-infhny table-responsive">
    <h3>WYCIECZKI PROMOWANE</h3>
    <table class="table table-striped table-bordered table-hover table-condensed" th:each="trip: ${promotedTrips}">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
    </table>

</div>

<div class="banner-infhny">
    <h3>Nie musisz szukać bardzo daleko, by dolecieć na najdalsze zakątki świata!</h3>
    <h6 class="mb-3">Gdzie chciałbyś pojechać?</h6>

    <div class="flex-wrap search-wthree-field mt-md-5 mt-4">
        <form th:action="@{/mainPage/continentCountryTrips}" method="get" class="booking-form">
            <div class="row book-form">
                <div class="form-input col-md-4 mt-md-0 mt-3">

                    <select name="continent-name" class="selectpicker">
                        <option value="">Wybierz kontynent</option>
                        <option th:each="name : ${continentNames}" th:text="${name}"></option>
                    </select>
                    <select name="country-name" class="selectpicker">
                        <option value="">Wybierz kraj</option>
                        <option th:each="country : ${countryNames}" th:text="${country}"></option>
                    </select>
                </div>

                <div class="bottom-btn col-md-4 mt-md-0 mt-3">
                    <button class="btn btn-style btn-secondary"><span class="fa fa-search mr-3"
                                                                      aria-hidden="true"></span> Szukaj!</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>